<!DOCTYPE html>
<html lang="uk">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизація</title>
    <link rel="stylesheet" href="{% static 'main/login.css' %}">
</head>
<body class="login-page">

<header>
    <nav>
        <a href="{% url 'home' %}">Головна</a>
        <a href="{% url 'about' %}">Про сайт</a>
        <a href="{% url 'login' %}" class="active">Увійти</a>
        <a href="{% url 'history' %}">Історія</a>
<a href="{% url 'feedbacks' %}">Коментарі</a>
		<div class="user-status">
            {% if user.is_authenticated %}
                <span>Вітаємо, {{ user.last_name }} {{ user.first_name }}</span>
            {% else %}
                <span>Ви не ввійшли</span>
            {% endif %}
        	</div>

    </nav>
</header>

<main>
    <div class="login-box">
        <h2>Вхід до акаунта</h2>

        {% if messages %}
<div class="login-messages">
    {% for message in messages %}
        <p class="{{ message.tags }}">{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

        <form method="POST">
            {% csrf_token %}
            <div class="login-field">
                <label for="username">Логін</label>
                <input type="text" name="username" id="username" placeholder="Введіть логін" required>
            </div>

            <div class="login-field">
                <label for="password">Пароль</label>
                <div class="password-wrapper">
                    <input type="password" name="password" id="password" placeholder="Введіть пароль" required>
                    <span class="toggle-password" onclick="togglePassword('password', this)">👁️</span>
                </div>
            </div>

            <button type="submit" class="login-btn">Увійти</button>
            <p>Немає акаунта? <a href="{% url 'register' %}">Зареєструватися</a></p>
        </form>
    </div>
</main>

<footer>
    <p>© 2025 Розпізнавання дорожніх знаків</p>
</footer>

<script>
function togglePassword(fieldId, el) {
    const input = document.getElementById(fieldId);
    if (input.type === "password") {
        input.type = "text";
        el.textContent = "🙈";
    } else {
        input.type = "password";
        el.textContent = "👁️";
    }
}
</script>

</body>
</html>
